# **Agricultural Commodities Price Predicition**


### This is the notebook for predicting agricultural commodities prices in India considering various states,districts and Mandies with .

In [2]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [4]:
df = pd.read_csv('agridata_csv_202110311352.csv')
df.head()

,commodity_name,state,district,market,min_price,max_price,modal_price,date
0,Ajwan,Gujarat,Amreli,Amreli,63.25,79.55,79.55,2019-05-22
1,Ajwan,Gujarat,Banaskanth,Dhanera,80.05,80.05,80.05,2019-05-22
2,Ajwan,Gujarat,Jamnagar,Jamnagar,90.00,155.00,122.50,2019-05-22
3,Ajwan,Gujarat,Mehsana,Kadi,94.50,112.50,107.00,2019-05-22
4,Ajwan,Gujarat,Mehsana,Unjha,21.25,148.50,99.75,2019-05-22

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 836977 entries, 0 to 836976
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   commodity_name  836976 non-null  object
 1   state           836977 non-null  object
 2   district        836977 non-null  object
 3   market          836977 non-null  object
 4   min_price       836976 non-null  float64
 5   max_price       836976 non-null  float64
 6   modal_price     836976 non-null  float64
 7   date            836976 non-null  object
dtypes: float64(3), object(5)
memory usage: 51.1+ MB

In [8]:
df1 = df.copy()
df1.dtypes

commodity_name     object
state              object
district           object
market             object
min_price         float64
max_price         float64
modal_price       float64
date               object
dtype: object

In [10]:
df1.columns

Index(['commodity_name', 'state', 'district', 'market', 'min_price',
       'max_price', 'modal_price', 'date'],
      dtype='object')

In [20]:
df1['commodity_name'].unique()

array(['Ajwan', 'Alasande+Gram', 'Amaranthus', 'Amla(Nelli+Kai)',
       'Amphophalus', 'Antawala', 'Apple', 'Arhar+Dal(Tur+Dal)',
       'Ashgourd', 'Avare+Dal', 'Banana', 'Banana+-+Green',
       'Barley+(Jau)', 'Beans', 'Beaten+Rice', 'Beetroot', 'Betal+Leaves',
       'Bitter+gourd', 'Black+pepper', 'Bottle+gourd', 'Brinjal',
       'Broken+Rice', 'Cabbage', 'Capsicum', 'Cardamoms', 'Carrot',
       'Cashewnuts', 'Castor+Seed', 'Cauliflower', 'Coconut',
       'Chapparad+Avare', 'Chennangi+Dal', 'Chikoos(Sapota)', 'Chili+Red',
       'Chilly+Capsicum', 'Cloves', 'Cluster+beans', 'Cocoa',
       'Coconut+Oil', 'Coconut+Seed', 'Coffee', 'Colacasia', 'Copra',
       'Coriander(Leaves)', 'Corriander+seed', 'Cowpea(Veg)', 'Cotton',
       'Cucumbar(Kheera)', 'Cummin+Seed(Jeera)', 'Drumstick',
       'Dry+Chillies', 'Dry+Fodder', 'Dry+Grapes', 'Duster+Beans', 'Egg',
       'Elephant+Yam+(Suran)', 'Field+Pea', 'Firewood', 'Fish', 'Garlic',
       'Ghee', 'Gingelly+Oil', 'Ginger(Dry)', 'Ginger(Green)', 'Grapes',
       'Green+Avare+(W)', 'Green+Chilli', 'Green+Fodder', 'Green+Peas',
       'Ground+Nut+Seed', 'Groundnut', 'Groundnut+(Split)',
       'Groundnut+pods+(raw)', 'Guar', 'Guava', 'Gur(Jaggery)', 'Hen',
       'Hybrid+Cumbu', 'Indian+Beans+(Seam)', 'Isabgul+(Psyllium)',
       'Jack+Fruit', 'Jamun(Narale+Hannu)', 'Jowar(Sorghum)', 'Jute',
       'Karbuja(Musk+Melon)', 'Knool+Khol', 'Kulthi(Horse+Gram)',
       'Lak(Teora)', 'Leafy+Vegetable', 'Lemon', 'Lime', 'Linseed',
       'Litchi', 'Long+Melon(Kakri)', 'Mahua', 'Maida+Atta', 'Maize',
       'Mango', 'Mango+(Raw-Ripe)', 'Mashrooms', 'Masur+Dal',
       'Methi+Seeds', 'Methi(Leaves)', 'Millets', 'Mint(Pudina)',
       'Moath+Dal', 'Mousambi(Sweet+Lime)', 'Mustard', 'Mustard+Oil',
       'Myrobolan(Harad)', 'Nutmeg', 'Onion', 'Onion+Green', 'Orange',
       'Paddy(Dhan)(Basmati)', 'Paddy(Dhan)(Common)', 'Papaya',
       'Papaya+(Raw)', 'Peach', 'Peas+cod', 'Peas+Wet', 'Peas(Dry)',
       'Pepper+garbled', 'Pepper+ungarbled', 'Pineapple', 'Plum',
       'Pomegranate', 'Potato', 'Pumpkin', 'Raddish',
       'Ragi+(Finger+Millet)', 'Rajgir', 'Rice', 'Ridgeguard(Tori)',
       'Round+gourd', 'Rubber', 'Safflower', 'Snakeguard', 'Soanf',
       'Soyabean', 'Spinach', 'Sponge+gourd', 'Sugar', 'Sunflower',
       'Surat+Beans+(Papadi)', 'Suva+(Dill+Seed)', 'Suvarna+Gadde',
       'Sweet+Potato', 'Sweet+Pumpkin', 'T.V.+Cumbu', 'Tamarind+Fruit',
       'Tapioca', 'Taramira', 'Tender+Coconut', 'Tinda', 'Tobacco',
       'Tomato', 'Toria', 'Turmeric', 'Turmeric+(raw)', 'Turnip',
       'Water+Melon', 'Wheat', 'Wheat+Atta', 'White+Peas',
       'White+Pumpkin', 'Wood', 'Yam+(Ratalu)', 'Bamboo', 'Yam',
       'Kodo+Millet(Varagu)', 'Goat', 'Pear(Marasebu)', 'Balekai',
       'Gram+Raw(Chholia)', 'Cow', 'Same/Savi', 'Sugarcane',
       'She+Buffalo', 'Sheep', 'Soji', 'Chow+Chow', 'Pigs', 'Calf',
       'Duck', 'Ox', 'Dhaincha', 'Season+Leaves', 'Cock', 'Hippe+Seed',
       'Tamarind+Seed', 'Other+Pulses', 'Coca', 'Niger+Seed+(Ramtil)',
       'Ram', 'Thondekai', 'Galgal(Lemon)', 'Honge+seed', 'Lotus+Sticks',
       'Neem+Seed', 'Bran', 'Cherry', 'Mace', 'Kartali+(Kantola)',
       'She+Goat', 'Alsandikai', 'Mahedi', 'Bull', 'Thogrikai', 'Khoya',
       'Seetapal', 'Almond(Badam)', 'Butter', 'Rose(Loose)', 'Kinnow',
       'He+Buffalo', 'Marigold(loose)', 'Mataki', 'Sajje',
       'Marigold(Calcutta)', 'Ambada+Seed', 'Chrysanthemum(Loose)',
       'Cotton+Seed', 'Seemebadnekai', 'Gramflour',
       'Persimon(Japani+Fal)', 'Lint', 'Indian+Colza(Sarson)', 'Sabu+Dan',
       'Jasmine', 'Gurellu', 'Walnut', 'Bunch+Beans', 'Snake+gourd',
       'Ridge+gourd(Tori)', 'Dalda', 'Sabu+Dana', 'Tube+Rose(Loose)',
       'Rose(Local)', 'Seetafal', 'Siddota', 'Lukad', 'Sunhemp',
       'Alasande Gram', 'Amla(Nelli Kai)', 'Anthorium',
       'Arecanut(Betelnut/Supari)', 'Arhar (Tur/Red Gram)(Whole)'],
      dtype=object)

In [9]:
df1.isnull().sum()

commodity_name    1
state             0
district          0
market            0
min_price         1
max_price         1
modal_price       1
date              1
dtype: int64

#### Droped the rows with null values in the dataset.

In [16]:
df1.dropna(inplace=True)
df1.isnull().sum()

commodity_name    0
state             0
district          0
market            0
min_price         0
max_price         0
modal_price       0
date              0
dtype: int64

In [22]:
df1.describe()

           min_price      max_price    modal_price
count  836975.000000  836975.000000  836975.000000
mean      138.438275     158.557311     117.531131
std      1622.378214    1710.394446    1230.076670
min         0.000000       0.000000       0.000000
25%        12.000000      15.500000      14.100000
50%        20.000000      25.000000      22.650000
75%        37.500000      45.000000      41.000000
max     80200.000000   74240.000000   66000.000000

In [24]:
df1['date'].head(10) # date is in object format
df1['date'].tail(10) # date is in object format

836967    06 Oct 2021
836968    06 Oct 2021
836969    06 Oct 2021
836970    06 Oct 2021
836971    06 Oct 2021
836972    06 Oct 2021
836973    06 Oct 2021
836974    06 Oct 2021
836975    06 Oct 2021
836976    06 Oct 2021
Name: date, dtype: object

### Converting the object form of date to datetime format.

In [33]:
from dateutil import parser
def dateParser(date):
    try:
        date_formate = parser.parse(date)
        return date_formate.strftime('%Y-%m-%d')
    except:
        return None

df1['date'] = df1['date'].apply(dateParser)
df1['date'].head(10) # date is in datetime format

0    2019-05-22
1    2019-05-22
2    2019-05-22
3    2019-05-22
4    2019-05-22
5    2019-05-22
6    2019-05-22
7    2019-05-22
8    2019-05-22
9    2019-05-22
Name: date, dtype: object

In [32]:
df2 = df1.copy()
df2['date'] = pd.to_datetime(df2['date'],format='%Y-%m-%d')
df2['date'].head(10) # date is in datetime format

0   2019-05-22
1   2019-05-22
2   2019-05-22
3   2019-05-22
4   2019-05-22
5   2019-05-22
6   2019-05-22
7   2019-05-22
8   2019-05-22
9   2019-05-22
Name: date, dtype: datetime64[ns]

In [34]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 836975 entries, 0 to 836976
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   commodity_name  836975 non-null  object
 1   state           836975 non-null  object
 2   district        836975 non-null  object
 3   market          836975 non-null  object
 4   min_price       836975 non-null  float64
 5   max_price       836975 non-null  float64
 6   modal_price     836975 non-null  float64
 7   date            836975 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 57.5+ MB

#### Now the dates are in datetime format.